@import vars


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

  .header-content
    margin-top: 350px
    h1
      font-size: 46px
    h2
      font-size: 30px

  .top-line
    flex-direction: column
    width: 100%
    left: 0
  .logo-sector
    max-width: 100%
    text-align: center
    padding: 15px 100px 25px
  .info-sector
    max-width: 100%
    text-align: center
    padding: 15px 100px 25px




// ≥992px
+media-breakpoint-down(md)

  .header-item
    margin-bottom: 30px

  #mmenu-btn
    display: block
    position: absolute
    left: 0
    top: 0

  .main-mnu
    display: none

  .header-info
    flex-wrap: wrap
    padding-bottom: 0
    border: none
    .item
      width: 50%
      margin-bottom: 25px

  .info-sector
    padding-bottom: 0

// ≥768px
+media-breakpoint-down(sm)

  .header-content
    h1
      font-size: 30px
      margin-bottom: 15px
    h2
      font-size: 24px
      margin-bottom: 25px

  .info-sector
    padding-left: 25px
    padding-right: 25px

// ≥480px
+media-breakpoint-down(xs)

  .main-head
    height: auto
    background-position: left bottom
  .top-line
    position: relative
  .header-items-wrap
    position: relative
    bottom: 0
  .header-content
    margin-top: 40px
    margin-bottom: 30px
    .btn
      font-size: 14px

  #mmenu-btn
    top: 10px

  .logo-sector
    padding-right: 25px
    padding-left: 80px
    font-size: 14px

  .header-info
    .item
      width: 100%
      text-align: center


/*==========  Mobile First  ==========*/

// ≤480px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
